.header
  .header__left
    .logo
      %h1.site-title
        %a{href: "/"} suhuri
      %h2.site-sub-title
        金継ぎ教室  
  .header__right
    - if user_signed_in?
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'logout'
    - else
      = link_to "ログイン", new_user_session_path, class: 'post'
      = link_to "新規登録", new_user_registration_path, class: 'post'
    %ul.menu
      %li.menu__item 
        = link_to "金継ぎ教室について", schools_path
      %li.menu__item 
        = link_to "カレンダー", calendars_path
      %li.menu__item 
        = link_to "ご予約フォーム", reservations_path
      %li.menu__item 
        = link_to "アクセス", accesses_path
        
        