
= render 'messages/header'

.message
  .message__title
    作品やお知らせを投稿していきます。気軽に作品の投稿や質問などをしてください。
 
    = render partial: 'message', collection: @messages
    
.message__post
  .post-box
    = form_for [@message] do |f|  
      = f.text_field :content, class: 'post-box__message', placeholder: 'type a message' do
        = f.label :image, class: 'post-box__message__image' 
        -# = fa_icon 'picture-o', class: 'icon'  
      = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'post-box__submit'
    
= render 'messages/footer'